* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: hsl(216, 12%, 8%);
}

main {
    width: 350px;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 30px 20px;
}

img {
    background-color: hsla(216, 12%, 54%, 0.2);
    padding: 10px;
    border-radius: 20px;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

div {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    justify-content: space-between;
}

div > button {
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    background-color:hsla(216, 12%, 54%, 0.2);
    border: none;
    color:hsl(217, 12%, 63%);
    font-weight: 400;
}

div > button:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

[type=submit] {
    width: 100%;
    margin-top: 20px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

[type=submit]:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

footer > p {
    font-size: small;
    text-align: center;
    margin-top: 20px;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

a:visited {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}